In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("C:/Users/Yash Dhumal/Desktop/JUPYTER NoteBook/datasets/crime_2015.xls")

In [3]:
pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xlrd in c:\users\yash dhumal\appdata\roaming\python\python311\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
df

,MSA,ViolentCrime,Murder,Rape,Robbery,AggravatedAssault,PropertyCrime,Burglary,Theft,MotorVehicleTheft,State,City
0,"Abilene, TX M.S.A.",412.5,5.3,56.0,78.4,272.8,3609.0,852.0,2493.6,263.4,TX,Abilene
1,"Akron, OH M.S.A.",238.4,5.1,38.2,75.2,119.8,2552.4,575.3,1853.0,124.1,OH,Akron
2,"Albany, GA M.S.A.",667.9,7.8,30.4,157.9,471.8,3894.1,1099.6,2652.8,141.7,GA,Albany
3,"Albany, OR M.S.A.",114.3,2.5,28.2,20.7,63.0,3208.4,484.6,2476.1,247.7,OR,Albany
4,"Albuquerque, NM M.S.A.",792.6,6.1,63.8,206.7,516.0,4607.8,883.4,3047.6,676.9,NM,Albuquerque
...,...,...,...,...,...,...,...,...,...,...,...,...
373,"Guayama, Puerto Rico M.S.A.",251.6,11.4,6.3,74.6,159.3,823.2,265.5,531.1,26.6,"Guayama, Puerto Rico M.S.A.",Guayama
374,"Mayaguez, Puerto Rico M.S.A.",237.5,11.5,5.2,82.3,138.6,1320.0,377.1,861.6,81.3,"Mayaguez, Puerto Rico M.S.A.",Mayaguez
375,"Ponce, Puerto Rico M.S.A.",231.4,18.0,5.0,66.2,142.2,885.0,214.4,632.4,38.1,"Ponce, Puerto Rico M.S.A.",Ponce
376,"San German, Puerto Rico M.S.A.",92.1,5.4,4.6,16.1,66.0,420.0,168.9,226.5,24.6,"San German, Puerto Rico M.S.A.",San German
377,"San Juan-Carolina-Caguas, Puerto Rico M.S.A.",262.0,20.6,4.9,157.8,78.7,1281.2,281.8,835.0,164.3,"San Juan-Carolina-Caguas, Puerto Rico M.S.A.",San Juan

In [5]:
df.groupby(['City'])['ViolentCrime'].mean()

City
Abilene        412.5
Aguadilla      108.7
Akron          238.4
Albany         391.1
Albuquerque    792.6
               ...
Worcester      434.8
Yakima         293.4
York           217.5
Yuba City      371.6
Yuma           327.4
Name: ViolentCrime, Length: 341, dtype: float64

In [ ]:
from sklearn import preprocessing
enc = preprocessing.OneHotEncoder()
enc_df = pd.DataFrame(enc.fit_transform(df[['State']]).toarray())
enc_df

In [ ]:
df_encode =df.join(enc_df)
df_encode